{% extends "base.html.twig" %}

{% block body %}
<h1>Binvenu sur ce blog</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt repudiandae officiis, quam explicabo excepturi nisi asperiores, adipisci commodi, ad sapiente impedit! Repudiandae, dolore ipsum. Laboriosam, esse totam. Dignissimos provident nemo asperiores odio cumque vel aut earum dolorem cum ea fugiat ad praesentium numquam necessitatibus similique ipsam, fuga tenetur ipsum distinctio.</p>
<p>Sed necessitatibus dolorem adipisci labore vel quisquam enim fuga! Sit, voluptatibus nulla? Explicabo ea error, dolores omnis sequi voluptatibus perspiciatis rem voluptates, blanditiis, nisi cupiditate perferendis dolore commodi itaque qui delectus. Esse commodi nesciunt labore voluptates necessitatibus et in eligendi obcaecati iusto, architecto, illo asperiores molestiae culpa dignissimos aliquam perferendis.</p>
{% endblock %}