{% extends "base.html.twig" %}

{% block body %}
        <article>
            <h2>Titre de l'article</h2>
            <div class="metadata">Ecrit le 28/01/2022</div>
            <div class="content">
                <img src="http://placehold.it/350x150" alt="">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt, vitae nulla! Voluptate quas assumenda vel?</p>
                <p>Reprehenderit odit nisi numquam ipsa soluta inventore in illum, officia, provident fugit voluptate animi ad.</p>
                <a href="{{ path('blog_show') }}" class="btn-secondary">lire la suite</a>
            </div>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, eum perferendis? Reiciendis ad, pariatur amet quidem quod exercitationem id in expedita atque eveniet praesentium aliquam velit saepe beatae provident sint nam. Eaque, vel repellat doloremque quam natus deleniti modi maxime blanditiis! Animi numquam accusamus consequuntur. Sed neque repellendus nostrum alias.</p>
            <p>Quaerat eius commodi temporibus eveniet exercitationem modi unde quis reiciendis minus fugit aut dolore maxime nostrum quod recusandae qui ipsum sed quam tempore, consequuntur, optio ex consectetur maiores. Nisi inventore doloremque incidunt accusantium. Nostrum accusamus perferendis vero consectetur sequi alias laborum rerum eveniet. Neque fuga quas voluptatibus reiciendis mollitia doloribus.</p>
        </article>
{% endblock %}